<div class="p-3 md:p-5">
    <app-page-header
      page_title="Immeubles et appartements"
      sub_title="Surveiller les mesures, vérifier les rapports et examiner les performances"
    >
    <button class="button-primary" (click)="openDialog('Add')">
        <app-svg class="w-5" icon="building"></app-svg>
        <span class="hidden sm:block">Ajouter</span>
    </button>
    </app-page-header>
    <div class="flex flex-col flex-auto min-w-0">

      <!-- Main -->
      <div class="flex-auto">

  
          <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 border-b">
              <div *ngIf="isLoading$"
                  class="absolute inset-x-0 bottom-0"
                  >
                  <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
              </div>
              <div *ngIf="!isLoading$" class="w-full">
                <ul class="grid grid-cols-6 text-gray-500 px-2">
                  <li>#</li>
                  <li>libelle</li>
                  <li>Description</li>
                  <li>Adresse</li>
                  <li>Total</li>
                  <li>Actions</li>
                </ul>
                <ul class="grid grid-cols-6 bg-white p-2 rounded items-center mt-4"
                *ngFor="let item of immeubles; let i = index"
                >
                  <li>{{i}}</li>
                  <li>{{item.libelle}}</li>
                  <li>{{item.description | truncate:14}}</li>
                  <li>{{item.address}}</li>
                  <li>20</li>
                  <li class="flex gap-2">
                    <button class="icon-button" (click)="openDialog('Edit', item)">
                      <mat-icon class="w-5 text-green-400">edit</mat-icon>
                    </button>
                    <button class="icon-button" (click)="openDialog('Delete')">
                      <app-svg class="w-5 text-red-400" icon="delete"></app-svg>
                    </button>
                  </li>
                </ul>
              </div>
          </div>
      </div>
    </div>
</div>
