<div class="flex flex-col flex-auto w-full md:w-[550px] p-4">
    <ng-container>
        <div [formGroup]="immeubleForm">
            <div class="flex flex-col">
                <mat-form-field
                    class="flex-auto gt-xs:pr-3">
                    <mat-label>Libelle</mat-label>
                    <input req formControlName="libelle" matInput>
                </mat-form-field>
                <mat-form-field
                    class="flex-auto gt-xs:pr-3">
                    <mat-label>Desciption</mat-label>
                    <textarea req formControlName="description" matInput></textarea>
                </mat-form-field>
                <mat-form-field
                    class="flex-auto gt-xs:pr-3">
                    <mat-label>Adresse</mat-label>
                    <input req formControlName="adress" matInput>
                </mat-form-field>
            </div>
        </div>

        
        <ng-container>
            <div class="flex items-center justify-between mt-4">
                <div class="flex items-center space-x-2">
                    <button class="button" type="button" (click)="closeDialog()"
                        mat-flat-button>
                        Fermer
                    </button>
                </div>
                
                <button
                    (click)="onSubmit()"
                    class="fuse-mat-button-large mt-6 button-primary"
                    type="button"
                    [disabled]="immeubleForm.invalid">
                    <span *ngIf="!isSubmitting">
                        Enregistrer
                    </span>
                    <mat-progress-spinner
                        *ngIf="isSubmitting"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </div>
        </ng-container>
    </ng-container>
</div>
