<div class="p-3 md:p-5">
    <app-page-header
      page_title="Tableau de board analytique"
      sub_title="Surveiller les mesures, vérifier les rapports et examiner les performances"
    >
    <button class="button-primary" (click)="openDialog('Add')">Appartement</button>
</app-page-header>
    <div *ngIf="isLoading$"
        class="pt-5"
        >
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <div class="pt-5" *ngIf="!isLoading$">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <div *ngFor="let item of historics">
                <app-historic-card [historic]="item"></app-historic-card>
            </div>
        </div>
        <div class="pt-5">
            <h2 class="text-right text-xl font-bold text-gray-600 leading-4">Appartements disponibles</h2>
            <div class="grid md:grid-cols-4 grid-cols-2 gap-4 mt-2">
                <div class="p-4 rounded bg-white cursor-pointer" (click)="openDialog('Edit', item)"
                    *ngFor="let item of appartements"
                >
                    <div class="h-[6rem] cursor-pointer bg-slate-300/70 rounded flex justify-center items-center">
                        <app-svg class="w-20 text-gray-600" icon="building"></app-svg>
                    </div>
                    <div class="text-center py-2 cursor-pointer">
                        <p class="text-gray-600 text-sm">
                            <span>Appartement: {{item?.immeubleAssoc?.libelle}}</span> - <span>Num: <strong>#{{item?.numAppartement}}</strong></span>
                        </p>
                        <p class="text-gray-600 text-2xl font-semibold">Prix: {{item?.prix}}cfa</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
